CONTENT_API_KEY=__SET_CONTENT_API_KEY__
CONTENT_API_BASE_URL=http://host.docker.internal:8080/api/content
MEDIA_API_KEY=__SET_MEDIA_API_KEY__
MEDIA_API_BASE_URL=http://host.docker.internal:8080/api/media
